body {
    background-color:dimgrey;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
    background-color: #f7f7f7;
}

th {
    background-color: #2d2d2d;
    color: white;
}

#tableTitle {
    margin-bottom: 15px;
    color: white
}

.edit-form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.edit-form h2 {
    margin-bottom: 20px;
    margin-top: 0px;
}

.edit-form label {
    display: block;
    margin-bottom: 5px;    
}

.edit-form select,
.edit-form input[type="text"],
.edit-form input[type="number"],
.edit-form input[type="email"],
.edit-form input[type="password"],
.edit-form input[type="decimal"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s;
}

.edit-form select:focus,
.edit-form input:focus {
    border-color: #5f9ea0;
    outline: none;
}

.edit-form input[type="submit"] {
    background-color: #5f9ea0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-form input[type="submit"]:hover {
    background-color: #2d6868;
}

div {
    margin-bottom: 100px;
}